css = [[

button.joinfavorites 
{ 
    height: 58px; 
    width: 256px; 
    border-width: 0px;     
  
    vertical-align: bottom; 
    top: 4px; 
    font-name: fonts/AgencyFB_medium.fnt; 
    text-color: #8bb4c1; 
    text-padding: 16px; 
      
    bottom: 0px; 
    right: 1300px; 
}   

]] 